mat-card {
  display: flex;
  flex-direction: column;
}

.actions-form {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.comment {
  grid-column: 1 / -1;
}

.actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
}
